.form__field {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 0 13px;
  margin: 0 0 30px;
}

.form__field:last-child {
  margin: 0;
}

.form__field:focus {
  outline: none;
}

.form__field::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.form__field::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.form__field::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.form__field::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

