.popup__container {
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  .popup__container {
    max-width: 282px;
  }
}
