.profile {
  padding: 36.25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 38.25px 19px 0;
  }
}
