.profile__subtitle {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  max-width: 336px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 540px) {
  .profile__subtitle {
    margin: 14px 0 0;
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
