.profile__title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



@media screen and (max-width: 540px) {
  .profile__title {
    font-size: 27px;
    margin: 0 auto;
  }
}
