.profile__add-button {
  padding: 0;
  border: 2px solid #FFFFFF;
  background-image: url(../../../images/profile_add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: linear 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px){
  .profile__add-button {
    width: 100%;
    margin: 36px 0 0;
  }
}
