.form__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}

@media screen and (max-width: 540px) {
  .form__title{
    font-size: 18px;
    text-align: center;
  }
}
